<div class="appBottomMenu">
    <a href="{{ url_for('home') }}" class="item">
        <div class="col">
            <ion-icon name="home-outline"></ion-icon>
            <strong>Home</strong>
        </div>
    </a>

    <a href="{{ url_for('absen') }}" class="item">
        <div class="col">
            <ion-icon name="camera-outline"></ion-icon>
            <strong>Absen</strong>
        </div>
    </a>

    <a href="{{ url_for('cuty') }}" class="item">
        <div class="col">
           <ion-icon name="calendar-outline"></ion-icon>
            <strong>Cuti</strong>
        </div>
    </a>

    <a href="{{ url_for('history') }}" class="item">
        <div class="col">
             <ion-icon name="document-text-outline"></ion-icon>
            <strong>History</strong>
        </div>
    </a>

    
    <a href="{{ url_for('profile') }}" class="item">
        <div class="col">
            <ion-icon name="person-outline"></ion-icon>
            <strong>Profil</strong>
        </div>
    </a>
</div>
<!-- * App Bottom Menu -->