<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | {{ name }}</title>
    <link rel='icon' type='image/x-icon' href="{{ url_for('static', filename='admin/img/logo.jpg') }}">
    {% include 'user/header.html' %}
</head>

<body>
    {% include 'user/sidebar.html' %}
    <!-- App Capsule -->
    <div id="appCapsule">
        <!-- Wallet Card -->
        <div class="section wallet-card-section pt-1">
            <div class="wallet-card">
                <!-- Balance -->
                <div class="balance">
                    <div class="left">
                        <span class="title"> Selamat {{ salam }}</span>
                        <h1 class="total">{{ name }}</h1>
                    </div>
                </div>
                <!-- * Balance -->
                <!-- Wallet Footer -->
                <div class="wallet-footer">


                    <div class="item">
                        <a href="{{ url_for('absen') }}">
                            <div class="icon-wrapper bg-danger">
                                <ion-icon name="camera-outline"></ion-icon>
                            </div>
                            <strong>Absen</strong>
                        </a>
                    </div>

                    <div class="item">
                        <a href="./cuty">
                            <div class="icon-wrapper bg-primary">
                                <ion-icon name="calendar-outline"></ion-icon>
                            </div>
                            <strong>Cuti</strong>
                        </a>
                    </div>

                    <div class="item">
                        <a href="./history">
                            <div class="icon-wrapper bg-success">
                                <ion-icon name="document-text-outline"></ion-icon>
                            </div>
                            <strong>History</strong>
                        </a>
                    </div>

                    <div class="item">
                        <a href="./profile">
                            <div class="icon-wrapper bg-warning">
                                <ion-icon name="person-outline"></ion-icon>
                            </div>
                            <strong>Profil</strong>
                        </a>
                    </div>


                </div>
                <!-- * Wallet Footer -->
            </div>
        </div>
        <!-- Wallet Card -->

        <!-- Label Absensi Hari ini -->
        <div class="section">
            <div class="row mt-2">
                {% if presence %}
                {% set row_absent = presence %}
                <div class="col-6">
                    <div class="stat-box bg-danger">
                        <div class="title text-white">Absen Masuk</div>
                        <div class="value text-white">{{ row_absent['time_in'] }}</div>
                    </div>
                </div>

                {% if row_absent['time_out'] == '00:00:00' or row_absent['time_out'] is none %}
                <div class="col-6">
                    <a href="{{ url_for('absen') }}">
                        <div class="stat-box bg-success">
                            <div class="title text-white">Absen Pulang</div>
                            <div class="value text-white">Belum absen</div>
                        </div>
                    </a>
                </div>
                {% else %}
                <div class="col-6">
                    <div class="stat-box bg-success">
                        <div class="title text-white">Absen Pulang</div>
                        <div class="value text-white">{{ row_absent['time_out'] }}</div>
                    </div>
                </div>
                {% endif %}
                {% else %}
                <div class="col-6">
                    <a href="{{ url_for('absen') }}">
                        <div class="stat-box bg-danger">
                            <div class="title text-white">Absen Masuk</div>
                            <div class="value text-white">Belum absen</div>
                        </div>
                    </a>
                </div>

                <div class="col-6">
                    <div class="stat-box bg-secondary">
                        <div class="title text-white">Absen Pulang</div>
                        <div class="value text-white">Belum Absen</div>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>


        <!-- <div>bagian ini disembunyikan</div> -->
        


        <div class="section mt-2 mb-2">
            <div class="section-title">1 Minggu Terakhir</div>
            <div class="card">
                <div class="table-responsive">
                    <table class="table table-dark rounded bg-danger">
                        <thead>
                            <tr>
                                <th scope="col">Tanggal</th>
                                <th scope="col">Jam Masuk</th>
                                <th scope="col">Jam Pulang</th>
                            </tr>
                        </thead>
                        <tbody>
                            {# Tambahkan logika Flask untuk mengambil data dari database #}
                            {% for row_absen in rekaps %}
                            <tr>
                                <th scope="row">{{ row_absen['presence_date'] }}</th>
                                <td>{{ row_absen['time_in'] }}</td>
                                <td>{{ row_absen['time_out'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% include 'user/bottom_navigation.html' %}
        {% include 'user/footer.html' %}
        {% include 'user/popup.html' %}
</body>

</html>