{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    Swal.fire({
                        title: '{{ category.capitalize() }}!',
                        text: '{{ message }}',
                        icon: '{{ category }}',
                        confirmButtonText: 'OK'
                    });
                });
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}
